@{ViewBag.Title = "About Us";}

<h1>About Disney Stream&copy;</h1>

<p>You've been watching Disney movies for years, but now you get to watch them on your very own Disney Stream&copy;.<br />
   With several different packages to choose from, you can customize Disney Stream&copy; to meet your families budget.<br />
   We can't wait to welcome you to the Disney Stream&copy; family ~ call today! 1-800-DISNEY
</p>