@{ViewBag.Title = "Home Page";}

<h1>Welcome to Disney Stream&copy;</h1>

<h3>The only on-demand Internet streaming media that gives you ALL Disney, ALL the time!</h3>

<p> We at Disney are proud to present the easiest way for you and your family to watch any one <br />
    of our animated pictures at any time, from your new Disney streaming device. The device can <br />
    be used to stream other types of media as well, including Netflix, YouTube, Vudu, and Hulu. <br />
    For more information, contact our customer service department at 1-800-DISNEY.
</p>
